@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* globals.css */
body {
  font-family: var(--font-geist-sans);
}

/* Use geist-mono for code, pre, etc. */
code, pre {
  font-family: var(--font-geist-mono);
}

a {
  color: inherit;
  text-decoration: none;
}